%h2 Add a New Discount
- form_for :discount do |form|
  %p
    = label_for :discount_name
      Name
    = form.text_field :name, :value => "name", :size => 30
  %p
    = label_for :discount_amount
    = form.text_field :amount, :value => "5%", :size => 5
  %p
    =label_for :discount_caption
    = form.text_field :caption, :value => "caption", :size => 30
