%h2 Add a New Discount
- form_for :discount, :url => "discount/create" do |f|
  %p
    = label_tag "discount[name]", "Name"
    = f.text_field :name, :value => "name", :size => 30
  %p
    = label_tag "discount[amount]", "Amount"
    = f.text_field :amount, :value => "5%", :size => 5
  %p
    = label_tag "discount[caption]", "Caption"
    = f.text_field :caption, :value => "caption", :size => 30
  %p
    = submit_tag "New"